* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    overflow-y: overlay;
}

body {
    background-color: #2b364a;
    color: white;
   /* width: purple;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}


h1{

font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: white;
font-size: 45px;
padding: 5px;
text-align: center;


}
main {
    background: url("") no-repeat
    center center;
    background-size: cover;
    height: 92vh;
}




