* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body{
    width: 100%;
    min-width: 100vh;
    background:linear-gradient(#2b364a);
    
}
.conteiner {
    background-color: #fafafa;
    border-radius:  10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 500px;
    overflow: hidden;
    max-width: 100%;
}

.header {
    background-color: #7375a5;
    padding: 20px;
}

.form {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    

}

input, textarea{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    border-radius: 10px;
    border: 1px solid #eee;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}

.form-control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form-control small{
    position:absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form button {
    background-color: #7375a5;
    border: 2px solid #7375a5;
    color: #fff;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

/* Error And success */
.form-control.success input{
    border-color: #2ecc71;
}

.form-control.error input{
    border-color: #e74c3c;
}

.form-control.success i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
    top: 55px;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
    position: absolute;
    top: 55px;
}

.form-control.error small{
    visibility: visible;
    color: #e74c3c
}



@media screen and (max-width:768px){
    form {
        width: 100%;
        align-items: center;
    }
}