body{
    text-align: center;  
    align-items: center;
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 200px;
    height: 200px;
    border: 2px solid red;

}

#logo {
    border:  none;
}

.center {
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 50px;
}