.Produto img {
    width: 200px;
    height: 200px;
    border-color: blueviolet;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}


h1{
    background-color: #2b364a;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}



.Produto {
    cursor: pointer;
    margin-bottom: 5px;
}

.Produto {
	height: 400px;
	margin-left: 1px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}

.Produto:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.Produtos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:  20px 0px 0px 20px;
}

.Produtos p {
    background:  #7375a5;
    font-family: "poppins", sans-serif;
    color: white;
    padding: 5px 10px;
}
/*label.logo {
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 4px;
}*/
